#changelist-filter {
	width: 220px!important;
	border-bottom: 2px solid #DDDDDD!important;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
	margin-right: 220px !important;
}

.filtered .actions {
	margin-right: 220px !important;
}

.change-list .filtered {
	background: repeat-y scroll right top #FFFFFF !important;
	min-height: 543px!important;
}