include AUTHORS
include INSTALL
include LICENSE
include README.md
include MANIFEST.in
include requirements.txt
recursive-include medobs/conf/project_template *
recursive-include medobs/reservations/locale *
recursive-include medobs/reservations/static *
recursive-include medobs/reservations/templates *
