{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static "js/admin_reservations.js" %}" ></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
	ul.object-tools a[disabled=disabled] {
		opacity: 0.4;
		pointer-events: none;
	}
	ul.object-tools a:hover[disabled=disabled], ul.object-tools li:hover a[disabled=disabled] {
		background-color: #999;
	}
</style>
{% endblock %}

{% block object-tools-items %}
	{% if adminform.model_admin.generateReservationsEnabled %}
	<li>
		<form id="id-generate-reservations-form" action="{% url "reservations:generate-reservations" %}">
			<a id="id-generate-reservations-button" href="javascript:void(0)">{% trans "Generate reservations" %}</a>
			<input type="hidden" name="template" value="{{ original.pk }}" />
		</form>
	</li>
	{% else %}
	<li><a disabled="disabled" href="javascript:void(0)">{% trans "Generate reservations" %}</a></li>
	{% endif %}
{{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
