{% load i18n %}
<div class="patient-reservations">
	<div class="patient-info">
		<label>{% trans "Phone" %}: </label><span>{{ patient.phone_number }}</span>
		<label>{% trans "E-mail" %}: </label><span>{{ patient.email }}</span>
	</div>
	<table id="patient-reservations">
	<tbody>
		<tr>
			<th>{% trans "Date" %}</th>
			<th>{% trans "Time" %}</th>
			<th>{% trans "Medical office" %}</th>
			<th>{% trans "Examination kind" %}</th>
		</tr>
	{% for r in patient.visit_reservations.all %}
		<tr{% if not r.passed %} class="future"{% endif %}>
			<td><a href="{% url 'reservations:office-on-date' r.office.pk r.date|slugify %}">{{ r.date }}</a></td>
			<td>{{ r.time }}</td>
			<td>{{ r.office.name }}</td>
			<td>{{ r.exam_kind.title }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>